html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    background-image: URL("./assets/pattern-hills.svg");
    background-position: bottom;
    background-size: cover;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

img {
    max-width: 100%;
    height: auto;
}

.icon {
    max-width: 4rem;
}